# ---> C++
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.vs/Engine/v15/ipch/AutoPCH
/.vs/Engine/v15
/Data/Example05/Sponza
/Bin64
*.tlog
*.idb
*.pdb
*.log
/Data/Shared
*.png
*.mtl
*.gui
*.fnt
/Dependencies
*.ilk
*.ipdb
*.iobj
